.leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers-list {
  padding-left: 0;
  text-align: left;
}

.leaflet-control-layers-item {
  padding-left: 16px;
}

@import "~leaflet-draw/dist/leaflet.draw.css";

.mapWrapper {
  position: relative;
}

.mapWrapper button {
  position: absolute;
  z-index: 1000;
  top: 10px;  
  left: 10px;
}