.leaflet-control-attribution {
    display: none;
}

.leaflet-control-layers-list {
  padding-left: 0;
  text-align: left;
}

.leaflet-control-layers-item {
  padding-left: 16px;
}

@import "~leaflet-draw/dist/leaflet.draw.css";

.mapWrapper {
  position: relative;
}

.mapWrapper button {
  position: absolute;
  z-index: 1000;
  top: 10px;  
  left: 10px;
}

.selection-toggle-button {
  width: 47px; /* Adjust width as needed */
  height: 47px; /* Adjust height as needed */
  background-color: white;
  border: 2px solid #bbbbbb; /* Gray border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-toggle-button:hover {
  background-color: #f4f4f4; /* Slightly darker on hover */
}

.selection-toggle-button:active {
  background-color: #e0e0e0; /* Even darker when pressed */
}
 

.selection-mode-active {
  cursor: crosshair;
}

.spectrum-panel, .simple-panel {
  background-color: rgba(255, 255, 255, 0.91);  
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* другие стили, если необходимо */
}

