.sliderTitle {
    color: gray;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .sliderValue {
    color: gray;
    margin-top: 0px;
  }
  
  .sliderContainer {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  